<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <button class="btn btn-primary" (click)="getConected()">Conectar</button>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" (click)="toConect()">Ligar</button>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" (click)="toSwitchOff()">Desligar</button>
            </div>
        </div>
    </div>
</div>